{% extends 'base.html.twig' %}

{% block title %}New Folding{% endblock %}

{% block body %}
    <h1>Create new Folding</h1>

    {{ include('folding/_form.html.twig') }}

    <a href="{{ path('app_folding_index') }}">back to list</a>
{% endblock %}
