{% extends 'base.html.twig' %}

{% block title %}Edit Lamination{% endblock %}

{% block body %}
    <h1>Edit Lamination</h1>

    {{ include('lamination/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_lamination_index') }}">back to list</a>

    {{ include('lamination/_delete_form.html.twig') }}
{% endblock %}
