{% extends 'base.html.twig' %}

{% block title %}New HotFoil{% endblock %}

{% block body %}
    <h1>Create new HotFoil</h1>

    {{ include('hot_foil/_form.html.twig') }}

    <a href="{{ path('app_hot_foil_index') }}">back to list</a>
{% endblock %}
